body {
  background-color: cyan;
}

header{
  font-size: 36px;
  line-height: 36px;
  margin: 10px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

div {
  display: inline-block;
  margin: 30px;
  padding: 10px;
  border: solid 3px black;
}

img {
  height: 300px;
  width: 250px;
}