<form action="/books" method="post">
  Author
  <input type="text" name="author" value="Enter author">
  Snippet
  <textarea name="snippet" rows="8" cols="80"></textarea>
  Title
  <input type="text" name="title" value="Enter title">
  <input type="submit" value="Submit">
</form>
